.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
  -fx-background-radius: 22;
}

Label{

  -fx-font-family: "Arial";
  -fx-text-fill: Black;
}

TextField{
  -fx-font-family: "Arial";
  -fx-text-fill: Black;

}


.button:hover{
-fx-font-weight: bold;
  -fx-background-radius: 22;
  -fx-border-radius: 5em;
}

.bigbutton:hover{
  -fx-font-weight: bold;
  -fx-background-color: 
        #3271a8,
        linear-gradient(#38424b 0%, #1f2429 20%, #3271a8 100%),
        linear-gradient(#20262b, #3271a8),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}


#backButton:hover{
  -fx-border-color: white;
  -fx-border-width: 2;
}

#homeBackground{
  -fx-background-image: url('../images/home_page.jpg');
  -fx-background-size: cover;
}

#cloneBackground{
  -fx-background-image: url('../images/github.jpg');
  -fx-background-size: cover;
}

.tooltip{
  -fx-background-color: white;
  -fx-font-family: Arial;
  -fx-text-fill: black;
  -fx-font-size: 13;
  
}



.skyBlueLabel{
  -fx-font-family: "Arial";
  -fx-text-fill: #D0EFFF;
}

#homeLabel{
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

#bugginessPane{
  -fx-background-image: url('../images/bugginess.jpg');
  -fx-background-size: cover;

}

#processControlChartPane{
  -fx-background-image: url('../images/data_mining.png');
  -fx-background-size: cover;
}

#wekaBackground{
  -fx-background-image: url('../images/machine_learning.jpg');
  -fx-background-size: cover;

}

.whiteLabel{
  -fx-font-family: "Arial";
  -fx-text-fill: white;
}

#interruptButton{
    -fx-background-color: 
        #e60000,
        linear-gradient(#780404 0%, #3b0208 20%, #fc0000 100%),
        linear-gradient(#540202, #fc0000),
        radial-gradient(center 50% 0%, radius 100%, rgba(128,15,9,0.0), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
  -fx-background-radius: 22;

}
